name: "Main"
on:
  push:
    branches:
      - main
  pull_request:

env:
  NIX_CONFIG: |
    accept-flake-config = true

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: wimpysworld/nothing-but-nix@main
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: value11
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Run flake checks
        run: |
          nix flake check
